<div
  class="relative w-full overflow-hidden bg-primary text-black p-1 text-center font-bold whitespace-nowrap"
>
  <a href="{{ echoesLink }}" target="_blank">
    <div class="marquee-content flex gap-[15vw] items-center animate-marquee p-1">
      <span>ECHOES OF NIGHT AVAILABLE ON STEAM</span>
      <span>TRY OUR NEW DEMO NOW!</span>
      <span>ECHOES OF NIGHT AVAILABLE ON STEAM</span>
      <span>TRY OUR NEW DEMO NOW!</span>
      <span>ECHOES OF NIGHT AVAILABLE ON STEAM</span>
      <span>TRY OUR NEW DEMO NOW!</span>

      <span>ECHOES OF NIGHT AVAILABLE ON STEAM</span>
      <span>TRY OUR NEW DEMO NOW!</span>
      <span>ECHOES OF NIGHT AVAILABLE ON STEAM</span>
      <span>TRY OUR NEW DEMO NOW!</span>
      <span>ECHOES OF NIGHT AVAILABLE ON STEAM</span>
      <span>TRY OUR NEW DEMO NOW!</span>
    </div>
  </a>
</div>
