@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);

$color-bg: #0b0d19;
$color-neon1: #0069b4;
$color-neon2: #f2f2f2;


:host ::ng-deep {
    c-carousel,
    .carousel-inner,
    .carousel-item {
        height: 250px !important; 
    }
}

img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}

.banner {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 3px;
    background: linear-gradient(270deg, $color-neon1, $color-neon2, $color-neon1);
    background-size: 300% 300%;
    animation: neonFlow 6s ease infinite;
    z-index: 2;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &:hover::before {
    animation-duration: 3s;
  }
}

@keyframes neonFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}