<c-carousel class="rounded-lg banner overflow-hidden">
  <c-carousel-indicators />
  <c-carousel-inner>
    @for (slide of slides; track slide.src) {
    <c-carousel-item>
      <img
        [src]="slide.src"
        alt="{{ slide.title }}"
        class="object-cover object-center d-block w-100"
        loading="lazy"
      />
    </c-carousel-item>
    }
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="<" direction="prev" class="fs-2" />
  <c-carousel-control [routerLink] caption=">" direction="next" class="fs-2" />
</c-carousel>
